<div class="post-box my-2 p-2" style="background-color:#1156A6">
  <h3 class="text-light"> <%= title %> </h3>
  <p class="text-light"> <%= text %> </p>
  <p class="text-end text-light">Comments: <%= comments_count ? comments_count : "0" %> Likes:<%= likes_count ? likes_count : "0" %></p>
</div>
